<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="henrybearMapper">
    
    <insert id="insert_reginfo"  parameterType="com.henrybear.bean.RegInfo" >
    	insert into reginfo (account,name,idcard,tel,email,regdate) 
    	values (#{account},#{name},#{idcard},#{tel},#{email},#{regdate})
    </insert>
    
    <insert id="insert_passwd"  parameterType="com.henrybear.bean.Passwd" >
    	insert into passwd (account,passwd,bak1,bak2) 
    	values (#{account},#{passwd},#{bak1},#{bak2})
    </insert>
    
    <select id="selectlist" resultType="com.henrybear.bean.RegInfo" >
    	select * from reginfo
    </select>
    
</mapper>