<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <listener>
    	<listener-class>com.henrybear.listener.WebListener</listener-class>
    </listener>
    <listener>
    	<listener-class>com.henrybear.listener.AttributeListener</listener-class>
    </listener>
    <filter>
    	<description>utf-8编码</description>
    	<display-name>encoding</display-name>
    	<filter-name>encoding</filter-name>
    	<filter-class>com.henrybear.filter.EncodingFilter</filter-class>
    	<init-param>
    		<param-name>encoding</param-name>
    		<param-value>UTF-8</param-value>
    	</init-param>
    </filter>
    <filter-mapping>
    	<filter-name>encoding</filter-name>
    	<servlet-name>HttpServiceHttp</servlet-name>
    	<url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    
  <servlet>
    <description>HttpServiceHttp</description>
    <display-name>HttpServiceHttp</display-name>
    <servlet-name>HttpServiceHttp</servlet-name>
    <servlet-class>com.henrybear.servlet.HttpServiceHttp</servlet-class>
  </servlet>
  <servlet>
  	<description>test.jsp</description>
  	<display-name>test.jsp</display-name>
  	<servlet-name>test</servlet-name>
  	<jsp-file>/test.jsp</jsp-file>
  </servlet>
  <servlet>
  	<description>reg.jsp</description>
  	<display-name>reg.jsp</display-name>
  	<servlet-name>reg</servlet-name>
  	<jsp-file>/reg.jsp</jsp-file>
  </servlet>
	

  <servlet-mapping>
    <servlet-name>HttpServiceHttp</servlet-name>
    <url-pattern>/servlet/HttpServiceHttp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>reg</servlet-name>
  	<url-pattern>/reg</url-pattern>
  </servlet-mapping>

</web-app>